p {
  color: green;
  font-size: 20px;
  text-align: center;
}
IMG.current {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.hidden-links {
  text-decoration: none;
  color: #536482
}
#secondp {
  font-family: cursive, monospace;
  color: purple;
}
h1 {
  text-align: center;
}
h2 {
  
}
div.top-banner {
  background-color: aqua;
}
div.pbg {
  background-color: aqua;
}
#list {

}

."fa-facebook-official" {
    font-size: 200px;
}
