p {
  color: black;
  font-size: 20px;
  text-align: center;
}
IMG.current {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.hidden-links {
  text-decoration: none;
  color: #536482
}
IMG.top {
  display:block;
  margin-left: auto;
  margin-right: auto;
}
#secondp {
  font-family: cursive, monospace;
  padding-left: 2cm;
  padding-right: 2cm;
  color: white;
}
#interests {
  
  padding-left: 4cm;
  padding-right: 4cm;
  color: white;
}
#listhead {
  padding-left: 2cm;
  background-color: white;
  background-size: 100px 100px;
}
#head {
  font-size: 64px;
}
#headiv {
  background-color: white;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
#academic {
text-align: center;
}

h1 {
  text-align: center;
}

div.top-banner {
  background-color: pink;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
div.pbg {
  background-color: aqua;
}
#list {
  padding-left: 2cm;
  color: white;
}
#firstone {
  padding-left: 4cm;
  font-size: 48px;
}

body{
  font-family: 'Noto Sans', sans-serif;
	margin:0;
	width:100%;
	height:100vh;
  background-image:url(black-home-background.jpg);
}
header{
	width:100%;
	background:#1d1f20;
	height:60px;
	line-height:60px;
}

.menu{z-index:1000000; font-weight:bold; font-size:0.8em; width:100%; background:#131313;  position:absolute; text-align:center;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0; border-bottom:#1d1f20 1px solid;}
.menu li:hover{display: block;    background:#181818; padding:15px 0 15px 0; border-bottom:#1d1f20 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#fff;}
.menu ul li a:hover {  color: #fff; text-decoration:none;}
.menu a{text-decoration:none; color:white;}
.menu a:hover{text-decoration:none; color:white;}
